<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About us
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content> -->


<ion-header>
  <ion-toolbar>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to My Project</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        "I embarked on this project with the goal of making it easier for people to discover restaurants based on their preferences."
      </p>
      <p>
        Feel free to let me know if you'd like any adjustments or if there's a specific tone or emphasis you'd like to convey!
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>