<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About us
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content> -->


<ion-header>
  <ion-toolbar>
    <ion-title>เกี่ยวกับเรา</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>ยินดีต้อนรับสู่โปรเจกต์ของฉัน</ion-card-title>
</ion-card-header>

<ion-card-content>
  <p>&nbsp;&nbsp; โมไบล์แอปพลิเคชันนี้ถูกสร้างขึ้นมาเพื่อช่วยให้ผู้ใช้สามารถกดเลือกคำค้นสั้น ๆ เพื่อค้นหาสถานที่ที่เกี่ยวข้องกับความต้องการ</p>
  <p>&nbsp;&nbsp; พัฒนาโดย นางสาวธัญพร วินทะไชย นิสิต สาขาวิชาวิทยาการคอมพิวเตอร์ ภาควิชาวิทยาการคอมพิวเตอร์และสารสนเทศ คณะวิทยาศาสตร์และวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตเฉลิมพระเกียรติ จังหวัดสกลนคร</p>
  <p>&nbsp;&nbsp; อาจารย์ที่ปรึกษาโครงงาน ผศ.วไลลักษณ์ วงษ์รื่น</p>
  <br>
  <h2>ประโยชน์ที่คาดว่าจะได้รับ :</h2>
  <p>ช่วยให้ผู้ใช้งานสามารถค้นหาสถานที่โดยใช้คำสั้น ๆ เพื่อเป็นตัวเลือกในการตัดสินใจเดินทางไปยังที่ใดที่หนึ่ง และช่วยให้ผู้ใช้สามารถค้นหาสถานที่ได้หลากหลาย</p>
  <br>
  <h2>ข้อกำหนดของแอปพลิเคชัน :</h2>
  <ol>
      <li>ต้องติดตั้งแอปพลิเคชันในระบบปฏิบัติการ<br>แอนดรอยด์ version 7 ขึ้นไป</li>
      <li>ต้องมีการเปิดใช้งานอินเทอร์เน็ต</li>
      <li>ต้องมีการเปิดใช้บริการระบุตำแหน่งปัจจุบันของอุปกรณ์</li>
  </ol>

</ion-card-content>

  </ion-card>
</ion-content>