<!-- detail.component.html -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <!-- Header -->
    <ion-title>{{ item?.place }}</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content >
  <ion-card>
    <ion-card-header>
      <ion-thumbnail slot="start">
      </ion-thumbnail>
      <img [src]="item?.img" alt="Thumbnail">
      <ion-card-title>{{ item?.place }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>คะแนน {{ item?.rate }} • รีวิวทั้งหมด {{ item?.review }}</div>
      <span *ngIf="item?.service1">{{ item?.service1 }} • </span>
      <span *ngIf="item?.service2">{{ item?.service2 }} • </span>
      <span *ngIf="item?.service3">{{ item?.service3 }} • </span>
      <span *ngIf="item?.service4">{{ item?.service4 }}  </span>
      <div>{{item?.address}}</div>
    </ion-card-content>
      <div class="iframe" [innerHTML]="sanitizeHtml(item?.src)"></div>
    <ion-button class="iframeButton" [href]="item?.link" expand="full">เปิดแผนที่</ion-button>
  </ion-card>
</ion-content>


