<!-- filter -->
  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="searchTerm" okText="ค้นหา" cancelText="ยกเลิก" [interfaceOptions]="customActionSheetOptions" (ionChange)="shortSearch()" placeholder="เลือกคำค้น">
              <ion-select-option value="ง่วง">ง่วง</ion-select-option>
              <ion-select-option value="หิว">หิว</ion-select-option>
              <ion-select-option value="กระหาย">กระหาย</ion-select-option>
              <ion-select-option value="วัด">วัด</ion-select-option>
              <ion-select-option value="กินข้าว">กินข้าว</ion-select-option>
              <ion-select-option value="กาแฟ">กาแฟ</ion-select-option>
              <ion-select-option value="ออกกำลังกาย">ออกกำลังกาย</ion-select-option>
              <ion-select-option value="พักรถ">พักรถ</ion-select-option>
              <ion-select-option value="น้ำมัน">น้ำมัน</ion-select-option>
              <ion-select-option value="ตลาด">ตลาด</ion-select-option>
            </ion-select>
    </ion-item>
  </ion-list>
<!-- search-bar -->
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearchInput()" animated="true" placeholder="ค้นหา"></ion-searchbar>
        <ion-note position="helper">ค้นหาคำว่า  {{searchTerm}} พบ {{rowCount.length}} รายการ</ion-note>
      </ion-col>

    </ion-row>
  </ion-grid>

<!-- Content -->
     <ion-list>
       <ion-item *ngFor="let item of searchData" (click)="onCardClick(item.id)">
         <ion-thumbnail slot="start">
           <img [src]="item.img" alt="Thumbnail">
          </ion-thumbnail>
          <ion-label>
          <h2>{{ item.place }}</h2>
          <h4>{{item.type}}</h4>
          <p *ngIf="item.service1">{{ item.service1}} {{ item.service2}} {{ item.service3}} {{ item.service4}}</p>
          <p>{{ item.address }}</p>
        </ion-label>
      </ion-item>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    </ion-list>